In [1]:
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import sklearn
import pandas as pd

In [2]:
df = pd.read_csv("datasets_coursework1\\real-state\\train_full_Real-estate.csv")

In [3]:
df.describe()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000
mean,212.774086,2013.148691,17.874419,1097.227770,3.983389,24.968816,121.533177,37.891362
std,120.102881,0.273876,11.581775,1272.369201,2.974848,0.012099,0.015627,13.995630
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,11.200000
25%,109.000000,2012.917000,8.900000,292.997800,1.000000,24.962990,121.527600,27.700000
50%,215.000000,2013.167000,16.200000,515.112200,4.000000,24.971100,121.538140,37.900000
75%,315.000000,2013.417000,28.200000,1455.798000,6.000000,24.977440,121.543310,46.000000
max,414.000000,2013.583000,42.700000,6488.021000,10.000000,25.001150,121.566270,117.500000

In [4]:
pd.isna(df).sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [5]:
df.sort_values("Y house price of unit area", ascending=False).head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
10,271,2013.333,10.8,252.5822,1,24.97460,121.53046,117.5
272,221,2013.333,37.2,186.5101,9,24.97703,121.54265,78.3
122,313,2013.583,35.4,318.5292,9,24.97071,121.54069,78.0
176,167,2013.417,0.0,292.9978,6,24.97744,121.54458,73.6
184,106,2012.833,0.0,292.9978,6,24.97744,121.54458,71.0

In [6]:
df.sort_values("Y house price of unit area", ascending=False).tail()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
171,227,2013.000,16.5,4082.015,0,24.94155,121.50381,12.8
119,331,2013.083,32.0,1156.777,0,24.94935,121.53046,12.8
131,117,2013.000,30.9,6396.283,1,24.94375,121.47883,12.2
162,163,2012.750,16.0,4066.587,0,24.94297,121.50342,11.6
7,348,2013.583,17.4,6488.021,1,24.95719,121.47353,11.2

In [7]:
X1 = df.iloc[:, [1,2,3,4,5,6]]
Y1 = df.iloc[:, 7]

In [8]:
scaler = StandardScaler()
scaler.fit(X1)
X1_stand = scaler.transform(X1)

In [9]:
# regression model
lin_reg = LinearRegression()
lin_reg.fit(X1_stand, Y1)
lin_reg.intercept_, lin_reg.coef_

(37.891362126245504,
 array([ 1.4025923 , -3.36680155, -6.03091446,  3.58742909,  2.75147145,
        -0.48917229]))

In [10]:
df1 = pd.read_csv("datasets_coursework1\\real-state\\test_full_Real-estate.csv")

In [11]:
X_1 = df1.iloc[:, [1,2,3,4,5,6]]
Y_1 = df1.iloc[:, 7]

In [12]:
X_1_stand = scaler.transform(X_1)
predicted_Y = lin_reg.predict(X_1_stand)

In [13]:
rmse = sklearn.metrics.mean_squared_error(predicted_Y, Y_1)
np.sqrt(rmse)

8.501078429154811

**Classification**

In [14]:
df['expensive'] = df['Y house price of unit area'].apply(lambda x: True if x >= 30 else False)
df1['expensive'] = df1['Y house price of unit area'].apply(lambda x: True if x >= 30 else False)

In [15]:
X2 = df.iloc[:, [2,3,4,5,6]]
Y2 = df.iloc[:, 8]

In [16]:
svm_house_expensive=sklearn.svm.SVC(kernel="linear",gamma='auto') # Initialize the SVM model
svm_house_expensive.fit(X2,Y2) # Train the SVM model

SVC(gamma='auto', kernel='linear')

In [17]:
Y_predict = svm_house_expensive.predict(X2)
print(sklearn.metrics.classification_report(Y2, Y_predict))

              precision    recall  f1-score   support

       False       0.84      0.89      0.86        93
        True       0.95      0.92      0.94       208

    accuracy                           0.91       301
   macro avg       0.89      0.91      0.90       301
weighted avg       0.92      0.91      0.91       301

In [18]:
print(sklearn.metrics.confusion_matrix(Y2, Y_predict))

[[ 83  10]
 [ 16 192]]